body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 38px;
  line-height: 44px;
  font-style: italic;
  font-weight: 400;
}

h3 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 1.7em;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
}

p {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px;
}

li {
  font-size: 16px;
}

img {
  display: inline-block;
  max-width: 100%;
}

.container {
  display: block;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 16px;
}

.container.map {
  padding-bottom: 30px;
}

.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: 400;
}

.button {
  position: fixed;
  left: 10px;
  top: 10px;
}

.heading-2 {
  margin-top: 30px;
  padding-bottom: 10px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.paragraph-2 {
  font-size: 10px;
}

.text-block {
  font-size: 10px;
  font-style: normal;
  text-align: right;
}

.map {
  padding-bottom: 30px;
}

.footer {
  min-height: 100px;
}

.ordered-list {
  padding-left: 20px;
}

.year-label {
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 700;
}

.div-block {
  height: 20px;
}

.div-block-2 {
  height: 10px;
}

.verse-list {
  width: 1000px;
}

.year-header {
  border-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #adadad;
  font-size: 1.9em;
}

.verse-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.book-name {
  width: 120px;
  text-align: left;
}

.bold-text {
  padding-right: 5px;
}

.bible-section {
  margin-bottom: 20px;
}

.heading-4 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.event-header {
  color: #333;
  font-weight: 400;
  text-decoration: underline;
}

.link {
  text-decoration: none;
}

.link.event-header {
  text-decoration: underline;
}

#w-node-70773c1d322e-749a0e41 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-e647bb26bc3c-749a0e41 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-6ce369dd63fb-749a0e41 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-80c281597150-749a0e41 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-4dd2cde61143-749a0e41 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-719059b3bb7d-749a0e41 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-548befc0fa30-749a0e41 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-96391f085fdc-749a0e41 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-e16bba49d84d-749a0e41 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-942fcba94c81-749a0e41 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-6e62966536ca-d9f42355 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-e595c256cb9d-aee4c5d4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-aea9d76f619e-aee4c5d4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-3bd5f3b315b7-aee4c5d4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-dd56ab19c88c-aee4c5d4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-431dc8500796-aee4c5d4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-3d579dca54f1-aee4c5d4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-cf9ac56559b9-aee4c5d4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-aca0f6b533b0-6bab0940 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-383ae81cec15-6bab0940 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-459ff8bd3cd8-6bab0940 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-5b6a525b636b-6bab0940 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}